*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
    font-family: 'Work Sans';
}
nav{
    background-color: #ffffff !important;
}
.no-shadows {
    box-shadow: 0px 5px 30px rgba(133, 135, 143, 0.2)!important;
}
nav a{
    color:black !important;
    font-size: 14px !important;
}
.nav{
    width: 80% !important;
}
.brief-form{
    width: 60% !important;
}
.mycont{
    width: 60% !important;
}
/* plan section */
.check-color{
    color: #3CCF8E;
}
#Packages .price-row{
    padding: 2px !important;
    transition: all ease-in-out 0.6s;
}
#Packages .price-row:hover{
    transform: scale(1.07);
    transition: all ease-in-out 0.6s;
}
#Work .work-effect{
    transition: all ease-in 0.6s;
}
#Work .work-effect:hover{
    transform: scale(0.90);
    transition: all ease-in 0.6s;
}
/* brief section */
.brief-input{
    width: 100%; 
    border: 1px solid #CCCCCC; 
    box-shadow: none; 
    background: #ffffff;
    padding: 12px 20px; 
    border-radius: 4px;
}
.phone-input input[type=text]{
    float: left;
    width: 85%; 
    border: 1px solid #CCCCCC; 
    box-shadow: none; 
    background: #ffffff;
    padding: 12px 20px; 
    border-left: none !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.phone-input input[type=text]:focus{
    outline: 0 none;
}
.phone-input button{
    float: left;
    width: 15%;
    padding: 12px 0px; 
    background: #1BB934;
    color: white;
    text-align: center;
    border: 1px solid #1BB934; 
}
/* csr */
