*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
    font-family: 'Work Sans';
    background: #e5e5e5;
}
nav{
    background-color: #ffffff !important;
}
.no-shadows {
    box-shadow: 0px 5px 30px rgba(133, 135, 143, 0.2)!important;
}
nav a{
    color:black !important;
    font-size: 14px !important;
}
.nav{
    width: 80% !important;
}
/* plan section */
.check-color{
    color: #3CCF8E;
}
#fifth .price-row{
    padding: 2px !important;
}
/* footer */
.input-field input[type=text]{
    background: transparent;
    width: 70%;
    padding: 12px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 0px;
    box-sizing: border-box;   
    float: left;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
}
.input-field button{
    float: left;
    width: 30%;
    padding: 12px 20px;
    border-left: none !important;
    color: #64A156;
    background-color: white;
    cursor: pointer;
}
.input-field input:focus{
    outline: none;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
}